# Exercise-2
Add the specified code for each code cell, running the cells _in order_.

Run the below cell to import `pandas` and `numpy`

In [1]:
import pandas as pd
import numpy as np

Create a Series of 100 employees "names" ("Employee 1", "Employee 2", ... "Employee 100"). _Tip:_ use a list comprehension to produce the list of strings!
- Use the `head()` and `tail()` methods to view the first and last 3 employees to check your work.

In [2]:
employees = pd.Series(['Employee '+str(num) for num in range(1,101)])
print(employees.head(3))
print(employees.tail(3))

0    Employee 1
1    Employee 2
2    Employee 3
dtype: object
97     Employee 98
98     Employee 99
99    Employee 100
dtype: object

Create a Series of 100 random salaries for the year 2015. These should be uniformly distributed bwteen 40000 and 50000. _Hint:_ try using the [`numpy.random.uniform()`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.uniform.html) function, or call the Python `random.uniform()` function repeatedly.
- This is not a liveable wage in Seattle, and in fact is below US median :(

In [3]:
salaries_2015 = pd.Series(np.random.uniform(40000,50000,100))

Create a Series of 100 salaries in 2016 that have changed from 2015 by a random amount between -5000 and 10000.

In [4]:
salaries_2016 = salaries_2015 + np.random.uniform(-5000,10000,100)

Create a DataFrame **`salaries`** by combining the three Series you just made.

In [5]:
salaries = pd.DataFrame({'employee':employees, 
                         'salary_2015':salaries_2015, 
                         'salary_2016':salaries_2016})

Print the first 10 rows in the `salaries` DataFrame.

In [6]:
print(salaries.head(10))

      employee   salary_2015   salary_2016
0   Employee 1  40136.967805  39127.658671
1   Employee 2  40692.134165  50569.260624
2   Employee 3  44633.414751  53665.265272
3   Employee 4  43953.986115  43283.951164
4   Employee 5  47924.593991  57680.330749
5   Employee 6  46969.033756  49764.181001
6   Employee 7  48471.947520  45641.443864
7   Employee 8  42038.209698  48194.739651
8   Employee 9  44602.341728  40716.605824
9  Employee 10  47669.430892  46014.135558

Add a column `change` to your DataFrame that contains the "change" in salary between 2016 and 2015.

In [7]:
salaries['change'] = salaries.salary_2016 - salaries.salary_2015

Add a column `got_raise` to your DataFrame that is `True` if the employee got a raise (their salary increased) in 2016.

In [8]:
salaries['got_raise'] = salaries.change > 0
print(salaries.head(5))

     employee   salary_2015   salary_2016       change got_raise
0  Employee 1  40136.967805  39127.658671 -1009.309134     False
1  Employee 2  40692.134165  50569.260624  9877.126459      True
2  Employee 3  44633.414751  53665.265272  9031.850522      True
3  Employee 4  43953.986115  43283.951164  -670.034952     False
4  Employee 5  47924.593991  57680.330749  9755.736758      True

**Retrieve values from the `salaries` DataFrame to answer the following questions. Try to get as specific a value as possible (e.g., a single value rather than the whole row!)**

What was the 2016 salary of Employee 57?

In [9]:
salary_57_in_2016 = salaries.loc[58,'salary_2016']
salary_57_in_2016

48486.967865129598

How many employees got a raise? (It should be around 2/3rds)

In [10]:
len(salaries[salaries.got_raise == True])

55

What was the amount of the largest raise?

In [11]:
highest_raise = salaries.change.max()
highest_raise

9877.1264594761451

What was the "name" of the employee who received the highest raise?

In [12]:
# many approaches for this
salaries.loc[salaries.change == highest_raise, 'employee'].iloc[0]

'Employee 2'

What is the 2016 salary of the person who received the largest payment (decrease in salary) between the two years?

In [13]:
# many approaches for this as well
salaries.loc[salaries.change == salaries.change.min(), 'salary_2016'].iloc[0]

36362.208254830461